@{
    ViewBag.Title = "About";
}
<h2 class="text-inverse">@ViewBag.Title.</h2>
<h3 class="text-inverse">@ViewBag.Message</h3>

<p class="text-inverse">
    <strong>
        I study programming intensely and I am always working on mastering a new language or the newests version of ongoing improvements to what I have already learned such as the
        latest MVC or Mobile technology. I prefer the dotNet languages and tools, but I respect and practice other languages as well. As I study, I try to find good sources of information to help me
        understand the concepts of a particular language and become comfortable with its syntax. I find it helpful to learn  by building something appropriate to the language I am learning so that I
        get coding practice and have plenty of chances making mistakes, which enables me to gain debugging and troubleshooting experience. I despise "Hello World" tutorials and I absolutely treasure
        tutorials that help you build something useful. If something is worth doing, it is worth doing well.
    </strong>
</p>
<p class="text-inverse">
    <strong>
        I had a difficult time finding solutions to progamming problems and many sites seem only to be intersted in selling ad space, not delivering valuable content. I also kept wondering why I could
     not find simple things like, a Person, Customer, or Employee class. Many people must have created such classes, so why is it so difficult to find some and compare them to see what makes a good
     class and what does not. So I decided I need to gain experience designing a website so why not build one that can help others find good resources to learn how to program like a pro...free. It is my
    hope to create a real community where people can come to learn and teach others and share their projects with other programmers.
     </strong>
</p>
