<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The Code Depot</title>

    <link rel="stylesheet" href="~/Content/mybootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script>

    </script>
</head>
<body>
    <div class="main-content">
        @RenderBody()
     </div>   
</body>
</html>