@{
    Layout = "_ContentLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Content/mybootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div class="pagecontent col-lg-11">
        <table class="jumbotron2 ">
            <tr>
                <td colspan="3" class="col-md-10">language</td>
            </tr>
            <tr>
                <td colspan="3" class="col-md-10">Title</td>
            </tr>
            <tr>
                <td class="col-md-2">Rating</td>
                <td class="text-left">Author</td>
                <td class="col-md-2">Date</td>
            </tr>
            <tr>
                <td colspan="3" class="col-md-10">Description that is much longer and should take up the entire table width. It should be about two or threee lines and
                give a good explanation of the snippet provided. For example a description of a class as say customer class caontains all and only those functions required for
                 a custlomer table.</td>
            </tr>
        </table>
        <table class="jumbotron2 ">
            <tr>
                <td colspan="2" class="col-md-10">language</td>
            </tr>
            <tr>
                <td colspan="2" class="col-md-10">Title</td>
            </tr>
            <tr>
                <td class="col-md-2">Rating</td>
                <td class="text-left">Author</td>
                <td class="col-md-2">Date</td>
            </tr>
            <tr>
                <td colspan="2" class="col-md-10">Description that is much longe and should take up the entire table width It should be about two or threee lines and
                give a good explanation of the snippet provided. For example a description of a class as say customer class caontains all and only those functions required for
                 a custlomer table.</td>
            </tr>
        </table>
        <table class="jumbotron2 ">
            <tr>
                <td colspan="2" class="col-md-10">language</td>
            </tr>
            <tr>
                <td colspan="2" class="col-md-10">Title</td>
            </tr>
            <tr>
                <td class="col-md-2">Rating</td>
                <td class="text-left">Author</td>
                <td class="col-md-2">Date</td>
            </tr>
            <tr>
                <td colspan="2" class="col-md-10">Description that is much longe and should take up the entire table width It should be about two or threee lines and
                give a good explanation of the snippet provided. For example a description of a class as say customer class caontains all and only those functions required for
                 a custlomer table.</td>
            </tr>
        </table>
        <table class="jumbotron2 ">
            <tr>
                <td colspan="2" class="col-md-10">language</td>
            </tr>
            <tr>
                <td colspan="2" class="col-md-10">Title</td>
            </tr>
            <tr>
                <td class="col-md-2">Rating</td>
                <td class="text-left">Author</td>
                <td class="col-md-2">Date</td>
            </tr>
            <tr>
                <td colspan="2" class="col-md-10">Description that is much longe and should take up the entire table width It should be about two or threee lines and
                give a good explanation of the snippet provided. For example a description of a class as say customer class caontains all and only those functions required for
                 a custlomer table.</td>
            </tr>
        </table>
        <table class="jumbotron2 ">
            <tr>
                <td colspan="2" class="col-md-10">language</td>
            </tr>
            <tr>
                <td colspan="2" class="col-md-10">Title</td>
            </tr>
            <tr>
                <td class="col-md-2">Rating</td>
                <td class="text-left">Author</td>
                <td class="col-md-2">Date</td>
            </tr>
            <tr>
                <td colspan="2" class="col-md-10">Description that is much longe and should take up the entire table width It should be about two or threee lines and
                give a good explanation of the snippet provided. For example a description of a class as say customer class caontains all and only those functions required for
                 a custlomer table.</td>
            </tr>
        </table>
        <table class="jumbotron2 ">
            <tr>
                <td colspan="2" class="col-md-10">language</td>
            </tr>
            <tr>
                <td colspan="2" class="col-md-10">Title</td>
            </tr>
            <tr>
                <td class="col-md-2">Rating</td>
                <td class="text-left">Author</td>
                <td class="col-md-2">Date</td>
            </tr>
            <tr>
                <td colspan="2" class="col-md-10">Description that is much longe and should take up the entire table width It should be about two or threee lines and
                give a good explanation of the snippet provided. For example a description of a class as say customer class caontains all and only those functions required for
                 a custlomer table.</td>
            </tr>
        </table>
        <table class="jumbotron2 ">
            <tr>
                <td colspan="3" class="col-md-10">language</td>
            </tr>
            <tr>
                <td colspan="3" class="col-md-10">Title</td>
            </tr>
            <tr>
                <td class="col-md-2">Rating</td>
                <td class="text-left">Author</td>
                <td class="col-md-2">Date</td>
            </tr>
            <tr>
                <td colspan="3" class="col-md-10">
                    Description that is much longer and should take up the entire table width. It should be about two or threee lines and
                    give a good explanation of the snippet provided. For example a description of a class as say customer class caontains all and only those functions required for
                    a custlomer table.
                </td>
            </tr>
        </table>
        <table class="jumbotron2 ">
            <tr>
                <td colspan="3" class="col-md-10">language</td>
            </tr>
            <tr>
                <td colspan="3" class="col-md-10">Title</td>
            </tr>
            <tr>
                <td class="col-md-2">Rating</td>
                <td class="text-left">Author</td>
                <td class="col-md-2">Date</td>
            </tr>
            <tr>
                <td colspan="3" class="col-md-10">
                    Description that is much longer and should take up the entire table width. It should be about two or threee lines and
                    give a good explanation of the snippet provided. For example a description of a class as say customer class caontains all and only those functions required for
                    a custlomer table.
                </td>
            </tr>
        </table>
    </div>

</body>
</html>
