/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #9bba87;
	background-image: url("../images/oldPaper.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

/* menu bar */
.menu-bar {
	color: #000000;
    /*dark to light tan and back*/
    background: linear-gradient(to bottom,  #a58359 0%,#a3bf8b 16%,#bcc993 31%,#ccc99f 50%,#bcc993 69%,#a3bf8b 78%,#a58359 100%); /* W3C */
}

.menu-bar > li:hover {
     /*light to dark tan and back*/
    background: linear-gradient(to bottom, #ccc99f 0%,#bcc993 24%,#9bba87 31%,#aa9b64 50%,#9bba87 69%,#bcc993 78%,#ccc99f 100%); /* W3C */
}
.menu-bar > a{
    color: #000000;
}

.text-inverse {
    color: #f8f4b7;
}
.main-content {
    margin-left: 12px;
    width: 1000px;
    height: 640px;
}
.leftNav {
    width: 120px;
    height:auto;
    padding:0;
    float:left;
}
.leftNav > ul {
    list-style: none;
}
.asideLinks {
    margin:auto;
    width:100px;
    padding-left: 0px;
}
.asideLinks > li {
    margin: 0 auto;
    width: 100px;
    line-height: 24px;
    text-decoration: none;
    background: linear-gradient(to bottom,  #a58359 0%,#a3bf8b 16%,#bcc993 31%,#ccc99f 50%,#bcc993 69%,#a3bf8b 78%,#a58359 100%); /* W3C */
}
.asideLinks > li:hover {
    line-height:28px;
    background: linear-gradient(to bottom, #ccc99f 0%,#bcc993 24%,#9bba87 31%,#aa9b64 50%,#9bba87 69%,#bcc993 78%,#ccc99f 100%); /* W3C */
}
.asideLinks > li a:hover {
    text-decoration: none;
    text-align:center;
    margin:auto;
}
.asideLinks > li a {
    
    text-align:center;
    
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: #000000;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/*PageContent {
    position: relative;
    padding-left: 120px;
    width: 80%;
    height: 600px;
    overflow: scroll;
}*/
::-webkit-scrollbar {
    width: 20px;
    background-color: transparent;
    } /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track:vertical {
    background-color: #9bba87;
    border: 2px solid #a94442;
    height: 600px;
    -webkit-box-shadow: inset 0 0 20px rgba(9,9,9,0.3);
    border-radius: 10px;
	/*background-image: url("../images/oldPaper.jpg");*/
    } /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-image: url("../images/dog.jpg");
    background-color: black;
    color:black;
}
::-webkit-scrollbar-thumb {
    background-image: url("../images/dog.jpg");
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
